 @font-face {
     font-family: 'GAU_cube_R';
     src: url('fonts/GAU_cube_R.TTF') format('truetype');
 }

 body {
     color: #ff4f00;
     background-color: #1c1c25;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
     margin: 0;
     font-family: 'GAU_cube_R', sans-serif;
     border: 2px solid #ff4f00;
     box-sizing: border-box;
 }

 @keyframes ellipsis {
     0% {
         content: '';
     }

     25% {
         content: ':';
     }

     50% {
         content: '';
     }

     75% {
         content: ':';
     }
 }

 p::after {
     content: '';
     animation: ellipsis 1s infinite;
     display: inline-block;
     width: 1em;

     < !DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>Hi</title><style>@font-face {
         font-family: 'GAU_cube_R';
         src: url('fonts/GAU_cube_R.TTF') format('truetype');
     }

     body {
         color: #ff4f00;
         background-color: #1c1c25;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         height: 100vh;
         margin: 0;
         font-family: 'GAU_cube_R', sans-serif;
         border: 2px solid #ff4f00;
         box-sizing: border-box;
     }

     @keyframes ellipsis {
         0% {
             content: '';
         }

         25% {
             content: ':';
         }

         50% {
             content: '';
         }

         75% {
             content: ':';
         }
     }

     p::after {
         content: '';
         animation: ellipsis 1s infinite;
         display: inline-block;
         width: 1em;
         text-align: left;
     }